@import 'nullstyle.scss';

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat.eot');
	src: local('☺'), url('/fonts/Montserrat.woff') format('woff'), url('/fonts/Montserrat.ttf') format('truetype'), url('/fonts/Montserrat.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.eot');
	src: local('☺'), url('/fonts/Roboto-Regular.woff') format('woff'), url('/fonts/Roboto-Regular.ttf') format('truetype'), url('/fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SourceSansPro';
	src: url('/fonts/SourceSansPro-Regular.eot');
	src: local('☺'), url('/fonts/SourceSansPro-Regular.woff') format('woff'), url('/fonts/SourceSansPro-Regular.ttf') format('truetype'), url('/fonts/SourceSansPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TTNorms';
	src: url('/fonts/TTNorms-Bold.eot');
	src: local('☺'), url('/fonts/TTNorms-Bold.woff') format('woff'), url('/fonts/TTNorms-Bold.ttf') format('truetype'), url('/fonts/TTNorms-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 1920px;
	background: #fff;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
}
.content {
	flex: 1 1 auto;
}
a {
	color: #fff;
}
header{
	background: url('/img/header/Blume-Bg.png') #161616;
	background-size: cover;
}
.layer {
	background: radial-gradient(105.09% 130.3% at 52.97% 67.41%, rgba(22, 22, 22, 0) 0%, #161616 100%);
}
.fade {
	background: radial-gradient(199.83% 125.68% at 50% -33.36%, rgba(23, 23, 24, 0) 0%, rgba(23, 23, 24, 0) 65%, rgba(23, 23, 24, 0.773497) 80.79%, #171718 86.68%, rgba(23, 23, 24, 0.13) 95.33%);
	height: 586px;
    width: 100%;
    top: 580px;
    position: absolute;
    @media (max-width: 1122px) {
    	display: none;
    }
}
.top-bar {
	background: #202020;
	&__body {
		display: flex;
		justify-content:space-between;
		flex-wrap: wrap;
		align-items: center;
		padding: 22px;
		max-width: 1410px;
	    margin: 0 auto;
	}
	&__logo {
		font-family: 'TTNorms';
		font-weight: 500;
		font-size: 11.1515px;
		line-height: 13px;
		letter-spacing: 0.3em;
		span {
			margin-left: 13.94px;
		}
	}
	&__call-order {
		border: 1px solid #FF834E;
		box-sizing: border-box;
		padding: 13px 26px;
		font-family: 'SourceSansPro';
		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
		color: #FF834E;
	}
	&__phone {
		font-family: 'SourceSansPro';
		font-weight: 300;
		font-size: 18px;
		line-height: 23px;
		margin-left: 30px;
	}
	&__navs {
		@media (max-width: 1145px) {
			margin: 0 auto;
			padding-top: 25px;
		}
	}
	&__menu {
		display: flex;
		padding: 8px 0;
		li{
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
			margin-right: 30px;
			&:last-child{
				margin: 0;
			}
		}
	}
	&__burger {
		width: 35px;
		height: 35px;
		background: #292929;
		box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
		position: relative;
		border-radius: 50%;
		display: none;
		span {
			position: absolute;
			width: 17.5px;
			height: 1.25px;
			background: #FFFFFF;
			border-radius: 1px;
			&:first-child{
				top: 14px;
			}
			&:last-child{
				bottom: 12px;
			}
		}
	}
	&__burger-menu{
		display: none;
	}
}
.header {
	&__mobile {
		display: none;
	}
	&__body {
		display: flex;
    	justify-content: center;
    	margin-top: 80px;
    	padding: 0 20px;
    	@media (max-width: 1122px) {
			flex-wrap: wrap;
			margin: 0;
		}
	}
	&__text {
		margin-top: 120px;
		@media (max-width: 1122px) {
			flex-wrap: wrap;
		}
		&_top {
			max-width: 824px;
			p:first-child {
				font-weight: bold;
				font-size: 22.6667px;
				line-height: 28px;
				color: #FF834E;
				&:before {
					content: url('/img/header/shop.png');
					margin-right: 12.11px;
				}
			}
			p:last-child {
				font-size: 20px;
				line-height: 27px;
				margin-top: 30px;
			}
			h1 {
				font-weight: bold;
				font-size: 52px;
				line-height: 70px;
				margin-top: 20px;
			}
		}
		&_bottom {
			@media (max-width: 1122px) {
				position: relative;
			}
			background: url('/img/header/Code-Fade.png') no-repeat;
			background-position: 55px 45px;
			padding-top: 241px;
			max-width: 892px;
			width: 100%;
			height: 452.53px;
			left: 0;
    		position: absolute;
			p {
				position: absolute;
				font-weight: 600;
				font-size: 14px;
				line-height: 17px;
				font-variant: small-caps;
				left: 30%;
				@media (max-width: 1440px) {
					left: 0;
					padding-left: 20px;
				}
			}
			a {
				background: #FF834E;
				box-shadow: 0px 5px 10px rgba(239, 139, 84, 0.2);
				font-size: 18px;
				line-height: 22px;
				padding: 22px 164px 21px 20px;
			}
		}
	}
	&__img {
		background: url('/img/header/E.png') no-repeat;
		img {
			margin: 20px 0 0 -26px; 
		}
	}
	&__btn {
		display: flex;
	    justify-content: center;
	    align-items: center;
	    position: absolute;
	    margin-top: 30px;
	    left: 30%;
	    @media (max-width: 1440px) {
			left: 0;
			padding-left: 20px;
		}
	}
	&__arrow {
		position: relative;
		width: 62px;
		height: 65px;
		background: #DE774B;
		display: flex;
	    justify-content: center;
	    align-items: center;
		img {
			position: absolute;
		}
	}
}
.works {
	background: url('/img/works/Blume-BG.png') #171718;
	background-size: cover;
	padding-top: 127px;
	margin-top: -1px;
	h3 {
		font-size: 26px;
		line-height: 32px;
		text-align: center;
		position: relative;
	}
	.start{
	    left: -180px;
        top: 35px;
    	position: absolute;
	}
	&__body {
		display: flex;
	}
	&__row {
		//background: url('/img/works/wallpaperа.jpg');
		display: flex;
		flex-wrap: wrap;
    	justify-content: center;
    	max-width: 1267px;
    	margin: 0 auto;
    	padding: 60px 0 170px 0;
	}
	&__circle {
		width: 45px;
		height: 45px;
		border: 10px solid #FFFFFF;
		box-sizing: border-box;
		border-radius: 50%;
		position: absolute;
    	bottom: -17px;
    	left: -45px;
	}
	&__borders {
		position: absolute;
		max-width: 1207px;
		width: 100%;
		opacity: 0.1;
		&_1 {
			border-top: 11px dashed #FFFFFF;
			margin-top: 160px;
		}
		&_2 {
			border-right: 11px dashed #FFFFFF;
			height: 354px;
			margin-right: -15px;
			@media (max-width: 1240px) {
				margin-right: 0;
			}
		}
		&_3 {
			border-bottom: 11px dashed #FFFFFF;
		}
	}
	&__column {
		flex: 0 0 16.666%;
		padding: 0 45px;
		&_number {
			margin-left: 90px;
			p {
				font-weight: bold;
				font-size: 118px;
				line-height: 144px;
				text-align: center;
				color: #FFFFFF;
				opacity: 0.1;
			}
		}
		&_img {
			top: -65px;
			display: flex;
	    	justify-content: center;
	    	align-items: center;
			width: 180px;
			height: 180px;
			background: #1D1D1D;
			box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.2);
			border-radius: 50%;
			position: relative;
		}
		&_text {
			position: absolute;
			display: flex;
			justify-content: center;
			margin-top: -45px;
			max-width: 180px;
			width: 100%;
		    text-align: center;
			a, p {
				font-size: 18px;
				line-height: 22px;
			}
			a {
				text-decoration-line: underline;
			}
		}
		&_plus {
			display: flex;
	    	justify-content: center;
	    	align-items: center;
			width: 20px;
			height: 20px;
			background: #EF8B54;
			border: 1px solid #F1F1F1;
			box-sizing: border-box;
			box-shadow: 0px 1px 4px rgba(239, 139, 84, 0.3);
			padding: 6.21px;
			border-radius: 50%;
			margin-left: 5px;
			cursor: pointer;
		}
		&_1 {
			.works__column_number p {
				letter-spacing: 0.1em;
				color: #EF8B54;
				text-shadow: 5px 5px 5px rgba(239, 139, 84, 0.15);
				opacity: 1;
			}
			.works__column_img {
				width: 180px;
				height: 180px;
				background: #FFFFFF;
				border: 0.5px solid #DBDBDB;
				box-sizing: border-box;
				border-radius: 50%;
			}
		}
		&_3 {
			.works__column_text {
				max-width: 230px;
		    	margin-left: -20px;
			}
		}
		&_4 {
			order: 5;
			.works__column_text {
				max-width: 205px;
		    	margin-left: -10px;
			}
		}
		&_5 {
			order: 4;
			.works__column_text {
				max-width: 260px;
		    	margin-left: -40px;
			}
		}
		&_4, &_5, &_6 {
			margin-top: 40px;
		}
	}
}
.how, .pays {
	display: none;
}
.geometry {
	background: url('/img/Geometry-Pattrn.png');
	background-size: cover;
	margin-top: -1px;
}
.features {
	background: url('/img/features/Blume-BG.png') #171718;
	background-size: cover;
	padding-bottom: 109px;
	&__body {
		display: flex;
	    justify-content: center;
	    flex-wrap: wrap;
	    align-items: center;
	    padding-top: 189px;
	    @media (max-width: 1040px) {
			padding: 0;
		}
	}
	&__img {
		margin-right: 140px;
	}
	&__text {
		max-width: 588px;
		h3 {
			font-weight: 600;
			font-size: 26px;
			line-height: 41px;
		}
		p {
			font-size: 18px;
			line-height: 29px;
			margin: 40px 0;
			max-width: 530px;
		}
		@media (max-width: 1040px) {
			margin-top: 100px;
		}
	}
	&__pays {
		display: flex;
    	align-items: center;
    	margin: 0 -20px;
		img {
			padding: 0 20px;
			@media (max-width: 1160px) {
				padding: 0 10px;
			}
		}
		@media (max-width: 1080px) {
			margin-left: -20px;
			position: absolute;
		}
	}
	&__list {
		display: flex;
    	justify-content: center;
    	margin-top: 86px;
    	width: 100%;
    	li {
    		padding: 0 50px;
    		&:last-child {
    			a {
					color: #EF8B54;
    			}
			}
    	}
    	li a {
    		font-size: 18px;
			line-height: 22px;
			text-decoration-line: underline;
			opacity: 0.4;
    	}
	}
}
.cases {
	background: url('/img/cases/Blume-BG.png') #171718;
	background-size: cover;
	padding: 120px 0 100px 0;
    margin-top: -2px;
	h2 {
		font-size: 42px;
		line-height: 51px;
		text-transform: uppercase;
		text-align: center;
	}
	h3, hr {
		display: none;
	}
	&__body {
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	&__row {
		display: flex;
		justify-content: center;
		margin-top: 120px;
		@media (max-width: 1024px) {
			flex-wrap: wrap;
		}
	}
	&__column {
		flex: 0 1 25%;
		margin: 16px;
		background: rgba(20, 20, 20, 0.6);
		border-radius: 5px;
		opacity: 0.6;
		@media (max-width: 1024px) {
			flex: 0 1 32%;
		}
		&:last-child {
			padding: 0;
		}
		&:hover {
			opacity: 1;
			-webkit-transition: 0.3s ease-out 0.3s;
		    -moz-transition: 0.3s ease-out 0.3s;
		    -o-transition: 0.3s ease-out 0.3s;
		    transition: 0.3s ease-out 0.3s;
		    cursor: pointer;
		    .cases__click {
		    	display: block;
		    	-webkit-transition: 0.3s ease-out 0.3s;
			    -moz-transition: 0.3s ease-out 0.3s;
			    -o-transition: 0.3s ease-out 0.3s;
			    transition: 0.3s ease-out 0.3s;
		    }
			.cases__hover {
		    	position: absolute;
		    	max-width: 320px;
		    	width: 100%;
				height: 8px;
				background: #DE9B55;
				box-shadow: 0px 2px 4px rgba(222, 155, 85, 0.4);
				border-radius: 7px;
				margin-top: 10px;
		    }
		}
	}
	&__text {
		font-family: 'Roboto';
		padding: 0 16px;
		h4 {
			
			font-weight: 500;
			font-size: 26px;
			line-height: 30px;
		}
		p {
			font-weight: 300;
			font-size: 18px;
			line-height: 21px;
			opacity: 0.8;
			padding: 10px 0 30px 0;
		}
	}
	&__img {
		display: flex;
	    justify-content: center;
	    align-items: center;
	    padding: 16px;
		img {
			max-width: 288px;
			width: 100%;
			height: auto;
		}
	}
	&__click {
		display: none;
		position: absolute;
		font-size: 16px;
		line-height: 20px;
		color: #000;
		background: #FFFFFF;
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
		padding: 35px 29px;
		border-radius: 50%;
	}
	&__rectangle {
		background: #50386F;
		max-width: 990px;
		width: 100%;
		font-size: 18px;
		line-height: 22px;
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    margin: 100px auto 0;
	    p {
	    	padding: 0 30px;
	    }
	    a {
	    	background: linear-gradient(170.25deg, #8D5DCC -128.51%, #55329E 221.38%);
			box-shadow: 0px 5px 10px rgba(94, 56, 158, 0.35);
			padding: 22px 0 21px 25px;
			&:after {
				content: url('/img/cases/arrow.png');
				padding: 0 28.75px 0 18.85px;
			}
	    }
	}
}
.clients {
	background: url('/img/clients/Blume-BG.png') #171718;
	background-size: 100% 100%;
	margin-top: -2px;
	h2 {
		font-size: 42px;
		line-height: 51px;
		text-align: center;
	}
	&__body {
		padding: 120px 0 206px 0;
	}
	&__row {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		padding: 100px 0 90px 0;
	}
	&__column {
		flex: 0 0 auto;
		padding: 0 20px;
		&:first-child {
			.clients__number {
				p {
					color: #EF8B54;
					text-shadow: 5px 5px 5px rgba(239, 139, 84, 0.15);
					opacity: 1;
				}
			}
		}
	}
	&__number {
		p {
			margin-left: 155px;
			font-weight: bold;
			font-size: 190px;
			line-height: 232px;
			text-align: center;
			opacity: 0.1;
		}
	}
	&__img {
		margin-top: -150px;
	}
	&__btns {
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	&__btn {
		&_left {
			padding: 0 25px;
		}
		&_right {
			padding: 0 25px;
		}
	}
}
footer {
	background: url('/img/footer/Blume-BG.png') #161616;
	background-size: cover;
	margin-top: -2px;
}
.footer {
	&__body {
		display: flex;
	    justify-content: center;
	    flex-wrap: wrap;
	    padding-top: 210px;
	    position: relative;
	   	@media (max-width: 1111px) {
			padding: 0 0 175px 0;
		}
	}
	&__text {
		max-width: 662px;
		width: 100%;
		margin-right: 100px;
		@media (max-width: 1111px) {
			margin: 0 auto;
		}
		p {
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
		}
		h2 {
			font-weight: bold;
			font-size: 41px;
			line-height: 50px;
			color: #EF8B54;
			margin-top: 30px;
		}
	}
	&__list {
		padding: 54px 50px 53px 50px;
		margin-top: 60px;
		max-width: 575px;
		width: 100%;
		border: 4px solid #EF8B54;
		box-sizing: border-box;
		li {
			font-weight: 300;
			font-size: 16px;
			line-height: 20px;
			margin-top: 5px;
			&:first-child {
				font-weight: 500;
				font-size: 25px;
				line-height: 30px;
				margin: 0;
			}
			&:nth-child(2) {
				margin-top: 15px;
			}
			&:before {
				content: url('/img/footer/plus.png');
				margin-right: 5px;
			}
		}
	}
	&__form {
		max-width: 350px;
		width: 100%;
		height: auto;
		background: #FFFFFF;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
		@media (max-width: 1111px) {
			margin-top: 100px;
			max-width: 50%;
		}
		form {
			padding: 30px;
			input, textarea {
				background: #F6F6F6;
				border: 0.5px solid #D0D0D0;
				box-sizing: border-box;
				font-size: 14px;
				line-height: 17px;
				color: #595959;
				padding: 14px 20px 13px 20px;
				width: 100%;
			}
			textarea {
				resize: none;
			}
			p {
				margin-top: 15px;
				&:first-child {
					margin: 0;
				}
			}
			button {
				background: linear-gradient(160.21deg, #DE9B55 -8.73%, #EE5432 93.23%);
				box-shadow: 0px 4px 4px rgba(222, 155, 85, 0.3);
				font-weight: 600;
				font-size: 14px;
				line-height: 17px;
				padding: 14px;
				color: #FFFFFF;
				margin-top: 15px;
				width: 100%;
			}
		}
	}
	&__checkbox {
		display: flex;
		input {
			width: auto;
		}
		p {
			font-size: 10px;
			line-height: 12px;
			color: #595959;
			margin: 0;
		    max-width: 239px;
		    padding-left: 14px;
		    padding-right: 24px;
		}
	}
	&__code {
		margin-top: -300px;
		@media (max-width: 1111px) {
			display: none;
		}
	}
	.checkbox {
		width: 22px;
		height: 22px;
		border: 1px solid #D0D0D0;
		box-sizing: border-box;
		border-radius: 2px;
		margin-top: 15px;
	}
	input[type=checkbox] {
		display: none;
	}
	.checkbox label:before {
		border-radius: 3px;
	}
	label[for=check] {
		margin: 2px;
		cursor: pointer;
		outline: none;
	}
	input[type=checkbox]:checked + label:before {
		content: url('/img/footer/label.png');
	}
}
.footer-bottom {
	background: #202020;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	&__body {
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    max-width: 1060px;
	    width: 100%;
	    margin: 0 auto;
	    padding: 50px 0 60px 0;
	    flex-wrap: wrap;
	    @media (max-width: 1111px) {
	    	padding: 50px 40px 60px 30px;
	    }
	    .column {
	    	flex: 1 1 auto;
	    }
	}
	&__logo {}
	&__contacts, &__socials {
		opacity: 0.5;
		li {
			margin-top: 14px;
			&:first-child {
				font-weight: 600;
				font-size: 18px;
				line-height: 22px;
				margin: 0;
			}
		}
	}
	&__maps {
		display: flex;
	    justify-content: center;
	    align-items: center;
	    p {
	    	display: flex;
		    justify-content: center;
		    align-items: center;
	    	&:after {
				content: url('/img/footer/Vector.png');
				margin: 0 30px;
	    	}
	    	span {
	    		opacity: 0.5;
	    	}
	    }
	}
	&__map {
		img {
			border-radius: 50%;
		}
	}
}
@media (max-width: 767px) {
	header {
		background: url('/img/header/fancycrave.jpg') #161616;
		background-size: cover;
	}
	.geometry {
		background: none;
	}
	.top-bar {
		padding: 7px 10px 8px 10px;
		&__body {
			padding: 0;
		}
		&__burger {
			display: flex;
    		justify-content: center;
		}
		&__logo {
			img {
				width: 44.81px;
    			height: auto;
			}
			span {
				display: none;
			}
		}
		&__order, &__navs{
			display: none;
		}
		&__burger-menu {
			background: rgba(0,0,0,0.5);
			padding: 20px 0;
			display: none;
		}
		&__burger-order {
			display: flex;
		    justify-content: center;
		    align-items: center;
		    flex-wrap: wrap;
		}
		&__burger-call {
			border: 1px solid #FF834E;
			box-sizing: border-box;
			padding: 13px 26px;
			font-family: 'SourceSansPro';
			font-weight: 300;
			font-size: 20px;
			line-height: 20px;
			color: #FF834E;
			margin: 0 auto;
		}
		&__burger-phone {
			font-family: 'SourceSansPro';
			font-weight: 300;
			font-size: 20px;
			line-height: 23px;
			margin: 0 auto;
    		padding: 12px 0;
		}
		&__burger-navs {
			border-top: 1px solid #202020;
			display: flex;
    		justify-content: center;
    		margin-top: 20px;
		}
		&__burger-list {
			li {
				font-weight: 600;
				font-size: 20px;
				line-height: 25px;
				margin-top: 20px;
			}
		}
	}
	.header {
		&__body {}
		&__text {
			margin-top: 30px !important;
			padding: 0 20px;
			&_top {
				p:last-child {
					display: none;
				}
			}
			&_bottom {
				display: none;
			}
			&_top {
				p:first-child {
					font-weight: bold;
					font-size: 12.5492px;
					line-height: 15px;
				}
				h1 {
					font-weight: bold;
					font-size: 20.7996px;
					line-height: 28px;
				}
			}
		}
		&__btn {}
		&__contact {}
		&__arrow {}
		&__img {
			display: none;
		}
		&__mobile {
			display: block !important;
			text-align: center;
			margin-top: 23.81px;
			p {
				font-weight: 300;
				font-size: 12px;
				line-height: 15px;
				font-variant: small-caps;
				opacity: 0.5;
				margin: 11px 0 25px 0;
    			text-align: center;
			}
		}
		&__img-mobile {}
		&__btn-mobile {
			display: flex;
		    justify-content: space-between;
		    align-items: center;
			width: 280px;
			height: 50px;
			background: #FF834E;
			box-shadow: 0px 4.55927px 9.11854px rgba(239, 139, 84, 0.2);
		}
		&__contact-mobile {
			a {
				padding: 15px;
			}
		}
		&__arrow-mobile {
			display: flex;
		    justify-content: center;
		    align-items: center;
			width: 47.72px;
			height: 50.03px;
			background: #DE774B;
		}
	}
	.works, .features {
		display: none;
	}
	.how {
		display: block;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		color: #393939;
		h2 {
			font-size: 14px;
			line-height: 17px;
			text-align: center;
			font-weight: normal;
			margin: 40px 0 20px 0;
		}
		&__body {
			display: flex;
			justify-content: center;
			padding-bottom: 30px;
		}
		&__vector {
			margin: 0 15px;
		}
		&__list {
			li {
				display: flex;
				align-items: center;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				padding: 15px 0;
				&:first-child {
					padding-top: 0;
					span {
						letter-spacing: 0.1em;
						color: #EF8B54;
					}
					a {
						padding-left: 11px;
					}
				}
				&:last-child {
					border: none;
					padding-bottom: 0;
				}
				&:after {
					content: url('/img/works/Group.png');
					position: absolute;
					right: 20%;
					margin-right: 14px;
					@media (max-width: 460px) {
						right: 0;
					}
				}
			}
			li span {
				font-size: 32px;
				line-height: 39px;
			}
			li a {
				font-size: 12px;
				line-height: 15px;
				padding: 0 50px 0 7px;
				width: 70%;
			}
		}
		a {
			color: #393939;
		}
	}
	.pays {
		background: url('/img/features/Blume-BGmobile.png') #171718;
		background-size: 100% 100%;
		display: block;
		padding-top: 89px;
		&__body {
			padding: 0 38px;
			h3 {
				font-weight: 600;
				font-size: 16px;
				line-height: 25px;
				text-align: center;
			}
			p {
				font-size: 12px;
				line-height: 19px;
				text-align: center;
				margin-top: 30px;
			}
		}
		&__img {
			display: flex;
		    justify-content: center;
		    align-items: center;
		    img {
		    	width: 100%;
    			height: auto;
		    }
		}
		&__line {
			width: 200px;
			border: 1px solid rgba(255, 255, 255, 0.1);
			margin: 40px auto;
		}
	}
	.cases {
		background: url('/img/cases/Placeholder.png') #171718;
		background-size: 100% 100%;
	    padding-left: 20px;
		padding-right: 20px;
		h2 {
			display: none;
		}
		h3 {
			display: block;
			font-size: 20.8px;
			line-height: 25px;
		}
		&__column {
			flex: 0 1 auto;
			opacity: 1;
			margin-left: 0;
			margin-right: 0;
		}
		&__row {
			margin-top: 30px;
		}
		&__img {
			margin-top: 16px;
			height: 150px;
    		overflow: hidden;
    		img {
    			width: 100%;
    			height: auto;
    		}
		}
		&:hover {
		    .cases__click {
		    	display: none;
		    }
		}
		&__text {
			margin: 10px 0 -10px;
		}
		&__hover {
			max-width: auto !important;
			width: 100% !important;
		}
		&__rectangle {
			display: flex;
		    flex-wrap: wrap;
		    justify-content: center;
		    align-items: center;
			background: url('/img/cases/Group.png') no-repeat, linear-gradient(156.01deg, #8D5DCC -128.51%, #55329E 221.38%);
			background-position: 100%;
			box-shadow: 0px 5px 10px rgba(94, 56, 158, 0.35);
			border-radius: 3px;
			padding: 36px 16px;
			margin-top: 40px;
			p {
				display: flex;
				font-weight: bold;
				font-size: 11px;
				line-height: 13px;
				padding: 0;
				&:before {
					content: url('/img/cases/love.png');
					margin-right: 20px;
				}
			}
			a {
				background: none;
				border: 2.85853px solid #FFFFFF;
				box-sizing: border-box;
				border-radius: 4.76421px;
				font-weight: bold;
				font-size: 13.3398px;
				line-height: 16px;
				padding: 13px 53px;
				width: 100%;
    			text-align: center;
    			margin-top: 32px;
				&:after {
					content: none;
				}
			}
		}
		hr {
			display: block;
			border: 1px solid rgba(255, 255, 255, 0.1);
			max-width: 200px;
			width: 100%;
			margin: 40px auto 0;
		}
	}
	.clients {
		background: #171718;
		.clients__body {
		    padding: 0 0 120px 0;
		}
		h2 {
			font-size: 20.8px;
			line-height: 25px;
		}
		&__column {
			flex: 1 1 25%;
			padding: 0 55px;
		}
		&__row {
			justify-content: space-between;
			flex-wrap: nowrap;
			overflow: hidden;
			padding: 38px 0 55px 0;
		}
		&__number {
			display: none;
		}
		&__img {
			margin: 0 auto;
			img {
				width: 210px;
    			height: auto;
			}
		}
		&__body {
		    padding-top: 20px;
		}
	}
	footer {
		background: url('/img/footer/fancycrave.png') #171718;
		background-size: 100%;
		padding: 0 23px 0 17px;
	}
	.footer {
		&__body {
			padding-bottom: 85px;
		}
		&__text {
			display: flex;
    		flex-wrap: wrap;
			h2 {
				font-size: 22px;
				line-height: 27px;
			}
			p {
				order: 1;
				margin-top: 30px;
			}
		}
		&__list {
			margin-top: 30px;
			padding: 20px 22px 21px 11px;
			li {
				font-weight: 300;
				font-size: 13px;
				line-height: 16px;
				margin-top: 9px;
				&:first-child {
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;
					margin: 0;
				}
			}
		}
		&__form {
			max-width: 280px;
			width: 100%;
			height: auto;
			margin-top: 57px;
			background: rgba(255, 255, 255, 0.1);
			box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
			border-radius: 2px;
			form {
				padding: 15px 10px;
				input, textarea {
					background: #F6F6F6;
					border: 0.5px solid #D0D0D0;
					box-sizing: border-box;
					font-size: 14px;
					line-height: 17px;
					color: #595959;
				}
				textarea {
					resize: none;
				}
				p {
					margin-top: 15px;
					&:first-child {
						margin: 0;
					}
				}
				button {
					background: linear-gradient(160.21deg, #DE9B55 -8.73%, #EE5432 93.23%);
					box-shadow: 0px 4px 4px rgba(222, 155, 85, 0.3);
					font-weight: 600;
					font-size: 14px;
					line-height: 17px;
					padding: 14px;
					color: #FFFFFF;
					margin-top: 15px;
					width: 100%;
				}
			}
		}
		&__checkbox {
			margin-top: 13px;
			p {
				color: #fff;
				margin: 0 !important;
			}
		}
		.checkbox {
			margin: 0 !important;
		}
	}
	.footer-bottom {
		background: #2E2E2E;
		position: absolute;
	    left: 0;
	    margin-top: -1px;
	    &__body {
	    	text-align: center;
		    margin: 0 auto;
		    justify-content: center;
		    .column {
		    	padding: 0 20px;
		    	&:last-child {
		    		padding: 0;
		    	}
		    }
	    }
	    &__contacts {
	    	margin-top: 50px;
	    }
	    &__socials {
	    	margin-top: 30px;
	    }
	    &__maps {
	    	margin-top: 40px;
	    	text-align: left;
	    }
	    &__map {
	    	img {
	    		max-width: 80px;
	    		width: 100%;
    			height: auto;
	    	}
	    }
	}
}
@media (max-width: 320px) {
	.header {
		&__text {
			padding: 0;
		}
	}
	.how {
		&__list {
			li a {
				width: 100%;
			}
		}
	}
}